<!Doctype html>
<html>
<head>
<link rel="stylesheet" href="style.css"


</head>
<body>


<h4>Tribute to the rap group</h4>

</body>
<html>


<style>
  body {
    background-color: gold;
  }
</style>

<body>

    
    <title>Tribute to WU TANG CLAN</title>
</head>
<body>
   
    <h1>Wu-TANG CLAN</h1>

  
  
      <img src="wutanglogo.jpeg" alt="photo" width=1050px height=350px>

        
      <h2>Biography</h2>
      <style>
        .myDiv {
          border: 5px outset red;
          background-color: #edf8b9;    
          text-align: center;
        }
        </style>
        <div class="myDiv">
          
        </div>
        
        <p style="color:#9b9b11;">Background</p>
        
        </body>
        </html>
  
      <p>Wu-Tang Clan is an American hip hop group formed on Staten Island, New York City, in 1992. Its original members include RZA, GZA, Ol' Dirty Bastard, Method Man, Raekwon, Ghostface Killah, Inspectah Deck, U-God, and Masta Killa. Close affiliate Cappadonna later became an official member. Wu-Tang Clan are regarded as a highly influential group in hip hop, helping to popularize and develop the East Coast hip hop and hardcore hip hop styles.

        After signing to Steve Rifkind's label Loud Records in 1992, Wu-Tang Clan released their debut album, Enter the Wu-Tang (36 Chambers), in 1993; it received widespread critical acclaim and has since been consistently rated as one of the greatest hip hop albums of all time. Members of the group released solo albums between 1994 and 1996. In 1997, the group released their second album, Wu-Tang Forever. It debuted atop the Billboard 200 and was nominated for Best Rap Album at the 1998 Grammy Awards.<p/>
    
</p>
  
    
        
<h2>Members</h2>

      <img src="wutangmembers.jpeg" class="center">
      <style>
        img{
          display:block;
          margin-left: auto;
          margin-right: auto;

        }
         </style>
         <body>
           <img style=width;50%;">


         </body>
         </html>


      <style>
        body{
          font-family: Arial, sans-serif;
        }
        </style>
        <body>
    
      <p>Surprisingly, the plan worked. All of the various Wu-Tang solo projects elaborated on the theme the group laid out on its 1993 debut, the spare, menacing Enter the Wu-Tang (36 Chambers). The collective's name was taken from a powerful, mythical kung fu sword wielded by an invincible congregation of warriors, and all nine members have worked under a number of pseudonyms, but they are best known as RZA (formerly Prince Rakeem; aka RZArecta, Chief Abbot, and Bobby Steels; born Robert Diggs), GZA (aka the Genius, Justice, and Maxi Million; born Gary Grice), Ol' Dirty Bastard (aka Unique Ason, Joe Bannanas, Dirt McGirt, Dirt Dog, and Osirus; born Russell Jones), Method Man (aka Johnny Blaze, Ticallion Stallion, Shakwon, Methical, and MZA; born Clifford Smith), Raekwon the Chef (aka Shallah Raekwon and Lou Diamonds; born Corey Woods), Ghostface Killah (aka Tony Starks and Sun God; born Dennis Coles), U-God (aka Golden Arms, Lucky Hands, Baby U, and 4-Bar Killer; born Lamont Hawkins), Inspectah Deck (aka Rebel INS and Rollie Fingers; born Jason Hunter), and Masta Killa (aka Noodles; born Elgin Turner).

      </p>
  
  
</body>
</html>



<h2>Albums</h2>

      <img src="enterwutang.jpeg" alt="photo" width=320px height=220px>

      <style>
        body{
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        </style>
        <body>

      <p>The Wu-Tang Clan have an almost incomparably large discography. They’ve recorded 100 studio albums. That’s without counting mixtapes or albums from the group’s 90 or so affiliated acts.

2019 was the first year since 1993 that there was not a Wu-Tang Clan related album in The Billboard Top 200. That was despite 6 Wu-Tang related albums dropping in 2019, including 4 albums from Inspectah Deck. The first Wu-Tang Clan related album was GZA’s 1991 album, ‘Words From The Genius’, released two years before the first Wu-Tang Clan single.
</p>

</body>
</html>

  <style>
    dl {
      display: block;
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 0;
      margin-right:0;
    }
    </style>
    <body>

  <p><b>Studio Albums</b></p>
  <dl>
    <dt>*Enter the Wu-Tang (36 Chambers),  1993</dt>
    <dd>*Wu-Tang Forever,  1997</dd>
    <dt>*The W, 2000</dt>
    <dd>*Iron Flag,  2001</dd>
    <dt>*8 Diagrams,  2007</dt>
    <dd>*A Better Tomorrow, 2014</dd>
    <dt>*Once Upon a Time in Shaolin,  2015</dt>
  </dl>

</style>

  

    
    
</body>
</html>